
h3{
    color: #247291;
    font-weight: 900;
    border-bottom: 3px double #247291;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.container{
    display: flex;
    justify-content: center;
}

form{
   border: 4px groove #000;
   padding: 20px 45px;
   margin-top: 20px;
   border-radius: 20px;
   background-color: #f9f9f9;
   width: 515px;
}

.btn{
    background-color: #247291;
    color: white;
}

/* body{
    background-image: url(../../image/master/img12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */
