{% extends 'master/base.html' %}

{% block content %}

<div class="float-end pt-3">
    <a href="{% url 'admit' %}" class=" btn btn-success">Add Admit </a>
    <a href="{% url 'dashboard' %}" class=" btn btn-primary">Go Back</a>
  </div>
  
  <div class="container pt-5">
    <h1 class="text-center">Student Records</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Course</th>
          <th scope="col">Collage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  
  </div>
  

{% endblock content %}